@charset "UTF-8";
@font-face {
    font-family:idroid;
    src: url(pacote-projeto-d010/fontes/idroid.otf);
}
body {
    background-color: #a3edbc;
}
header {
    background-image: linear-gradient(to top, rgb(2, 111, 58)10%,#47c993);
    color: rgb(246, 244, 244);
    text-align: center;
    padding: 10px 10px 5px 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.269);
}
header > h1 {
    margin: 20px 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size:1.4em;
}
header > p {
    width:50%;
    margin:auto;
    margin-bottom: 1.5em;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    text-align: center;
}
.headerlist {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-weight: 600;
    font-size: 0.7em;
    font-family: sans-serif;
}   
.headerlist li {
    display: inline;
    margin-right: 15px;
}
main {
    background-color: white;
    padding: 20px;
    margin: 0px 100px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
}
h1 {
    font-family: idroid;
    color: green;
}
h2 {
    font-family: idroid;
    color: green;
    font-size: 1.3em;
    background-image: linear-gradient(to right, rgba(111, 197, 111, 0.654), rgb(255, 255, 255));
}
p {
    text-align: justify;
    text-indent: 20px;
}
p > strong {
    font-weight: 600;
    color: rgb(10, 130, 52);
}
p > a {
    color:rgb(10, 130, 52);
    font-weight: 600;
    text-decoration: none;
}
p > a::after {
    content:'🔗';
}
main > picture {
    /* ?????????????????????????????? */
    display: flex;
    justify-content: center;
    align-items: center;
}
main > img {
    /* ?????????????????????????????? */
    display: block;
    margin: auto;
}
iframe {
    /* ????????????????? */
    display: block;
    width: 100%;
    background-color: green;
}
div#video {
    border: 10px solid;
    border-color: green;
}
div#final {
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    background-color: #CCEAD7;
    border-radius: 10px;
}
div#final > h3{
 background-color: #56A66C;
 border-top-right-radius: 10px;
 border-top-left-radius: 10px;
 color: white;
 padding: 10px 0px 10px 10px;
 
}
div#final > p {
    padding: 10px 10px;
    text-indent: 10px;
    margin: 0px 0px;
}
ul#final-list {
    padding: 10px;
    column-count: 2; 
    column-gap: 20px; 
    list-style-position: inside;
    list-style:none;
}
ul#final-list li::before {
    content: '\2713' '\00a0';
}
footer {
    text-align: center;
    background-color:rgb(2, 111, 58);
    color: #56A66C;
    font-size: small;
}
footer > p > strong {
    color: white;
    font-weight: 100;
}